@import "./../variables/theme.scss";
.paragraph {
    columns: 200px 2;
    column-gap: 30px;
    color: #fff;
    padding:25px;
}
.title {
    column-span: all;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    background-color: lighten($primary-color,10);
    min-height: fit-content;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
}
.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid white;
    border-radius: 4px;
}